@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

Link {
  text-decoration: none !important;
  color: inherit !important;
}

.username {
  font-size: 1.50rem;
  font-weight: 600;
  color: #333;
}

.username > :first-child {
  margin-top: 0;
}


/* Font */
.merriweather-light {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.noto {
  font-family: "Noto", serif;
}

.opensans {
  font-family: "Noto", sans-serif;
}

@font-face {
  font-family: "Noto";
  src: local('Noto-Sans'), url('/uicomponents/Typography/Noto_serif') format('truetype');
}

@font-face {
  font-family: "OpenSans";
  src: local('OpenSans'), url('/uicomponents/Typography/OpenSans') format('truetype');
}
